
<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="{{host}}/main.js"></script>
	</head>
	<body>
		<header>
		<h1>Secure Page</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
        <table>
            
            <tr><th>Item name</th><th>Image</th><th>Status</th></tr>
            {{#each record}}
            <form>
                <tr>
                    <input type="hidden" name="id" value="{{this.id}}">
                    <td>{{this.item}}</td>
                    <td><img src="https://i.ibb.co/HVLLppD/fridge.jpg" border="0" width="300" height="300" alt="{{this.item}}"></td>
                    <td>{{this.status}}</td>
                    <td><p><input type="submit" value="Delete"></p></td>
                </tr>
            </form>
            {{/each}}
            
        </table>
        <p><a href="/">Home page</a></p>
		</main>
	</body>
</html>
